/* Aurelian by r/nfl */

$color-first: #000000;
$color-second: #7C878E;
$color-third: #C7C9C7;

// base theme
@import "_controls.scss";

// theme controller
@import "r-aafb-base-theme/theme/index";

// modules
@import "modules/teams-header";

// states
@import "states/res";
@import "states/nightmode";


// Themes
@import "./themes/_black-theme.scss";

// yeah, no reddit new button
#sr-header-area div.redesign-beta-optin{
	display: none;
	opacity: 0;
	position: absolute;
	left: -9999px;
	z-index: -1000;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	width: 0;
	pointer-events: none;
}
